/* style.css */

/* Reset some default styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1, h4 {
    color: #1DB954;
    text-align: center;
    margin: 20px 0;
}

.container {
    position: relative;
    min-height: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.img-center {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

a {
    color: #1DB954;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #b3b3b3;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

.navbar {
    z-index: 2;
}

.lyrics {
    background-color: rgba(29, 185, 84, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    white-space: pre-wrap;
    font-size: 16px;
    text-align: left;
}

.list-group-item {
    background-color: #282828;
    border: none;
    color: #fff;
}

.list-group-item:hover {
    background-color: #333;
    cursor: pointer;
}

.btn {
    margin: 5px;
}

.progress {
    height: 10px;
    cursor: pointer;
    background-color: #333;
}

.progress-bar {
    background-color: #1DB954;
}

#main-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out;
    position: relative;
    z-index: 1; /* Ensure it is above the background overlay */
}

#main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; /* Place the overlay behind the content */
}

.card {
    background-color: rgba(40, 40, 40, 0.8);
    backdrop-filter: blur(5px);
    border: none;
}

.album-cover img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.volume-control {
    width: 100%;
    max-width: 300px;
    margin: auto;
}

@media (max-width: 576px) {
    .btn i {
        font-size: 1em;
    }

    .btn {
        padding: 8px;
    }
}

/* Login Button Styles */
#login-button {
    opacity: 1;
    pointer-events: auto;
    background-color: #1DB954;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
}

#login-button:hover {
    background-color: #1ed760;
}

/* Responsive adjustments for login button */
@media (max-width: 576px) {
    #login-button {
        font-size: 1em;
        padding: 8px 16px;
    }
}
